<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <aramex>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Aramex\Shipping\Model\Aramex</model>
                <name>Aramex</name>
                <title>Aramex</title>
                <max_package_weight>250</max_package_weight>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable.If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </aramex>
        </carriers>
    </default>
</config>
