<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Aramex_Shipping" setup_version="1.1.1">
    	<sequence>
            <module name="Magento_Checkout"/>
            <module name="Magento_Quote"/>
            <module name="Magento_Store"/>
            <module name="Magento_OfflinePayments"/>
        </sequence>
    </module>
</config>
