<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="aramex" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Aramex</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="container" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Container</label>
                    <source_model>Magento\Usps\Model\Source\Container</source_model>
                </field>
                <field id="max_package_weight" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Package Weight (Please consult your shipping carrier for maximum supported shipping weight)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="allowed_domestic_methods" translate="label" type="multiselect" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Domestic Methods</label>
                    <source_model>Aramex\Shipping\Model\Carrier\Aramex\Source\Domesticmethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="allowed_international_methods" translate="label" type="multiselect" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed International Methods</label>
                    <source_model>Aramex\Shipping\Model\Carrier\Aramex\Source\Internationalmethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field> 
                <field id="showmethod" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
          
                <field id="sort_order" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>

         <!-- for add new tab in Magento2 system configuration section -->
        <tab id="aramex" translate="label" sortOrder="10">
            <label>ARAMEX</label>
        </tab>
        <!-- for create section -->
        <section id="aramex" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Aramex Global Settings</label>
            <!-- Assign section to tab -->
            <tab>aramex</tab>
            <resource>Aramex_Shipping::configuration</resource>
            <!-- create group for fields in section -->
            <group id="settings" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Client information</label>
                <field id="user_name" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                </field>
                <field id="password" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <!--<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>-->
                </field>
                <field id="account_pin" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Pin</label>
                </field>
                <field id="account_number" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number</label>
                </field>
                <field id="account_entity" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Entity</label>
                </field>
                <field id="account_country_code" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Country Code</label>
                </field>
                <field id="allowed_cod" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>COD Account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Optional account data</comment>
                </field>
                <field id="cod_account_number" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>COD Account Number</label>
                    <comment>Optional account data</comment>
                </field>
                <field id="cod_account_pin" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>COD Account Pin</label>
                    <comment>Optional account data</comment>
                </field>   
                <field id="cod_account_entity" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>COD Account Entity</label>
                    <comment>Optional account data</comment>
                </field>    
                <field id="cod_account_country_code" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>COD Account Country Code</label>
                    <comment>Optional account data</comment>
                </field>                            
            </group>
            <group id="aramexcalculator" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Aramex calculator</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="messageDefault" type="label" showInDefault="1" showInWebsite="0" showInStore="0">
                  <label><![CDATA[<strong>Aramex Shipping Extension Version</strong>]]></label>
                  <frontend_model>Aramex\Shipping\Block\System\Config\Form\Field\Message</frontend_model>
              </field>
            </group>
            <group id="config" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Service Configuration</label>
                <field id="sandbox_flag" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="report_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Report ID</label>
                </field>
                <field id="allowed_domestic_methods" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Domestic Methods</label>
                    <source_model>Aramex\Shipping\Model\Carrier\Aramex\Source\Domesticmethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="allowed_domestic_additional_services" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Domestic Additional Services</label>
                    <source_model>Aramex\Shipping\Model\Carrier\Aramex\Source\DomesticAdditionalServices</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="allowed_international_methods" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed International Methods</label>
                    <source_model>Aramex\Shipping\Model\Carrier\Aramex\Source\Internationalmethods</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="allowed_international_additional_services" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed International Additional Services</label>
                    <source_model>Aramex\Shipping\Model\Carrier\Aramex\Source\InternationalAdditionalServices</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="default_payment_method" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Payment Method</label>
                    <source_model>Aramex\Shipping\Model\Carrier\Aramex\Source\Defaultpaymenttype</source_model>
                </field>  
            </group>
            <group id="shipperdetail" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipper Details</label>
                <field id="name" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name</label>
                </field>
                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                </field>
                <field id="company" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company</label>
                </field>
                <field id="address" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address</label>
                </field>
                <field id="country" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country Code</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>City</label>
                </field>
                <field id="postalcode" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postal Code</label>
                </field>
                <field id="state" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>State</label>
                </field>
                <field id="phone" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Phone</label>
                </field>
                <field id="mobile" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile</label>
                </field>
            </group>
            <group id="template" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipment Email Template</label>
                <field id="shipment_template" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aramex Shipment</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="copy_to" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipment Email Copy To</label>
                </field>
                <field id="copy_method" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipment Email Copy Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Method</source_model>
                </field>
            </group>
            <group id="apilocationvalidator" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Api Location Validator</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>

</config>
